*{
    margin: 0;
    font-weight: 100;
}

header .header{
    background-image: url('/images/banner-bk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
    color: aliceblue;
    align-items: center;
}
.navbar{
    display: flex;

    justify-content: space-between;
    font-size: 15px;
}
.navbar p{
    align-items: center;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}
.header img{
    width: 4rem;
    border-radius: 2rem;
    margin-top: 4rem;
    margin-left: 6rem;
    height: 4rem;
    display: flex;
    align-items: center;
}
.navbar .eslogan {
    justify-content: end;
    margin-top: 5rem;
    margin-right: 2rem;
}

.header .oracion{
    font-size: 55px;
    margin-top: 4rem;
    margin-left: 7.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header .oracion .p p{
    margin-top: 2rem;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.get-started button{
    margin-left: 7.6rem;
    margin-top: 3rem;
    background-color: aqua;
    border-radius: 3rem;
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.letters-mid{
    height: 5rem;
}
.letters-mid h1{
  margin-top: 5.5rem;
  text-align: center;
  font-size: 2.7rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.photos-mid{
 display: flex;   
 justify-content: space-evenly;
}

.title-mid{
    display: flex;   
    justify-content: space-evenly;
    font-family:  Arial, sans-serif;
    font-weight: normal;
   }

.description{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 0.3rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mid-low{
    display: flex;
   height:  100%;
}
.letters-mid-low{
    font-size: 2rem;
    margin-top: 9rem;
    margin-left: 14rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
.letters-mid-low p{
    margin-top: 1.5rem;
    margin-left: 0.2rem;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mid-low img{
    justify-content:end;
    margin-left: 14rem;
    margin-top: 8rem;
    width: 30rem;
    position: relative;
}
.Learn-More button{
    margin-left: 0.2rem;
    margin-top: 3rem;
    background-color: rgb(56, 59, 214);
    border-radius: 3rem;
    width: 9rem;
    height: 2.5rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.trapecio {
    width: 118.9rem;
    height: 38rem;
    background-color: aqua;
    clip-path: polygon(0 51%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    margin-top: 9.2rem;
}



.taper-low{
    display: flex;
   height:  100%;
   background-color: aqua;
   margin-top: 3.33rem;
}

.taper-low img{
    justify-content:end;
    margin-left: 13rem;
    margin-top: 10rem;
    width: 35rem;
    position: relative;
}
.Learn-More button{
    margin-left: 0.2rem;
    margin-top: 3rem;
    background-color: rgb(56, 59, 214);
    border-radius: 3rem;
    width: 9rem;
    height: 2.5rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.letters-taper-low{
    font-size: 2rem;
    margin-top:11rem;
    margin-left: 14rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
.letters-taper-low p{
    margin-top: 1.5rem;
    margin-left: 0.2rem;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pricings{
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
}

.price1{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 25rem;
    height: 27rem;
}
.pricings h2{
    font-size: 3.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line-pricinge{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}


.price1 h5{
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price1 h6{
    font-size: 1.2rem;
    
}
.price1 h6 big{
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.price1 p{
    font-size: 1.2rem;
    margin-top: 1rem;
}



.price2{
    background-color: aqua;
    border-radius: 5px;
    width: 25rem;
    height: 27rem;
    color: white;
}

.price2 h5{
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price2 h6{
    font-size: 1.2rem;
}
.price2 h6 big{
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.price2 p{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.price3{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 25rem;
    height: 27rem;
}

.price3 h5{
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.price3 h6{
    font-size: 1.2rem;
}
.price3 h6 big{
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.price3 p{
    font-size: 1.2rem;
    margin-top: 1rem;
}


.Get-Free button{
    margin-left: 0.2rem;
    margin-top: 3rem;
    background-color: rgb(0, 17, 255);
    border-radius: 3rem;
    width: 9rem;
    height: 2.5rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Get-Free1 button{
    margin-left: 0.2rem;
    margin-top: 3rem;
    background-color: rgb(255, 0, 0);
    border-radius: 3rem;
    width: 9rem;
    height: 2.5rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-basic{
    display: flex;
    background-color: aqua;
    margin-top: 5rem;
    height: 12rem;
    width: 100%;
    align-items: center;
}
.footer-basic img{
    width: 9rem;
    height: 5rem;
    margin-left: 10rem;
}   


.form{
    background-image: url('/images/contact-bk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
    color: aliceblue;
    align-items: center;
}
